[Desktop Entry]
Version=1.5
Type=Application
Terminal=false
Icon=/home/risingtenor/Applications/Ghidra/ghidra_icon_white.png
Exec=/home/risingtenor/Applications/Ghidra/ghidraRun
Name=Ghidra
Comment=NSA tools go crazy 
Keywords=ghidra;
Categories=Utility
Path=
StartupNotify=false