[Desktop Entry]
Version=10.0
Type=Application
Terminal=false
Icon=/home/risingtenor/Applications/Ghidra/ghidra_icon_white.png
Exec=sh /Applications/Ghidra/ghidraRun
Name=Ghidra
Comment=NSA tools go crazy 
Keywords=ghidra;
Categories=Utility
Path=
StartupNotify=false